components {
  parser "rust" {
    process {
      command "./target/release/tgraphy-parser-rust"
      args
    }
  }
  evaluator "rust-static" {
    process {
      command "./target/release/tgraphy-evaluator-rust-static"
      args
    }
  }
}